---

---

<footer class="py-8">
  <ul class="flex justify-center gap-4 text-base mb-1 text-gray-800">
    <li><a href="/">Home</a></li>
    <li><a href="/">About Us</a></li>
    <li><a href="/">Privacy Policy</a></li>
    <li><a href="/">Terms of Use</a></li>
  </ul>
  <p class="text-center text-sm text-gray-500">© 2025 turnofflocation.com. All rights reserved.</p>
</footer>