---
import Logo from '@/assets/svg/logo.svg'
---

<header>
  <div class="bg-gray-100 py-4 border-b border-gray-200">
    <a href="/" class="text-black font-semibold text-2xl flex items-center justify-center gap-4">
      <Logo width={28} height={28}/>
      <span>TurnOffLocation.com</span>
    </a>
  </div>
</header>